@import '@material-design-icons/font/outlined.css';
@import '@fontsource/roboto';

@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-effect:hover {
    transform: rotateY(-20deg) rotateZ(0deg);
}
