name: CD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Install Node.js
        uses: actions/setup-node@v3
        with: 
          node-version: 16
          
      - name: Install pnpm
        uses: pnpm/actions-setup@2
        id: pnpm-install
        with: 
          version: 7
          run_install: false
        
      - name: Install dependencies
        run: pnpm install
        
      - name: Build project
        run: pnpm buid
